<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
  </head>
  <body>
    <header>
      <h1>Backend Based Task Manager</h1>
      <nav>
        <a routerLink="/tasks" routerLinkActive="active"> Tasks </a>
        <a routerLink="/archive" routerLinkActive="active"> Archive </a>
      </nav>
    </header>
    <div class="router-outlet"><router-outlet></router-outlet></div>
    <footer>Wiktoria Łopatka</footer>
  </body>
</html>
