/* You can add global styles to this file, and also import other style files */
body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=47589");
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #420847;
  --secondary-color: #4b3379;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
